<div class="users-autocomplete">
  <mat-form-field class="users-autocomplete">
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [formControl]="userControl"
      placeholder="Cerca utente"
    />
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onUserSelect($event.option.value)">
    <mat-option *ngFor="let user of users" [value]="user">{{ user.name }} {{ user.surname }} - {{ user.email }}</mat-option>
  </mat-autocomplete>
</div>
