<form
  class="user__form"
  [formGroup]="form"
  (submit)="onSaveUser()"
>
  <mat-form-field fxFlexFill>
    <input matInput placeholder="Nome" formControlName="name" required/>
    <mat-error *ngIf="name.invalid">Il nome è obbligatorio</mat-error>
  </mat-form-field>

  <mat-form-field fxFlexFill>
    <input matInput placeholder="Cognome" formControlName="surname" required/>
    <mat-error *ngIf="surname.invalid">Il cognome è obbligatorio</mat-error>
  </mat-form-field>

  <mat-form-field fxFlexFill>
    <input type="date" matInput placeholder="birthDate" formControlName="birthDate" required/>
    <mat-error *ngIf="birthDate.invalid">La data di nascita è obbligatoria</mat-error>
  </mat-form-field>

  <mat-form-field fxFlexFill>
    <input matInput placeholder="Email" formControlName="email" required/>
    <mat-error *ngIf="email.invalid && !email.value">L'email è obbligatoria</mat-error>
    <mat-error *ngIf="email.invalid && email.value">Email non valida</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salva</button>
</form>
